* {
    padding: 0px;
	margin: 0px;
	outline: none;
    border: none;
    box-shadow: none;
}

.container {
    font-family: $font-default;

    h2 {
        font-weight: 800;
        font-size: 3rem;
        color: $color-2;
    }
}